version: '3'
services:
  app:
    image: ghcr.io/logicleai/logicle:latest
    restart: always
    environment:
      PORT: 8080
      APP_URL: ${APP_URL}
      DB_ENGINE: ${DB_ENGINE}
      DATABASE_URL: ${DATABASE_URL}
      NEXTAUTH_URL: ${NEXTAUTH_URL}
      NEXTAUTH_SECRET: ${NEXTAUTH_SECRET}

  postgres-db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

  caddy:
    image: caddy:2
    restart: always
    command: caddy reverse-proxy --from https://${APP_PUBLIC_FQDN}:443 --to http://app:8080
    ports:
      - 443:443
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app

volumes:
  postgres-data:
  caddy_data:
  caddy_config: